.mui-plus.mui-android header.mui-bar{
	display: none;
}
.mui-plus.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}

/*-----自定义样式 start-----*/
html,body{
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 12px;
}
html,body,ul,li,img{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
#allmap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*-----login start-----*/
.login_back{
	width: 100%;
	height: 250px;
	margin: 0;
	padding: 0;
	background: url(../images/u1.png) #fff no-repeat top left;
	background-size: 100% 250px;
}
.login_user{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.login_user label{
	text-align: left;
	margin-left: 10%;
}
.login_user li{
	width: 80%;
	border-bottom: solid 1px #bcbcbc;
	margin: 5% 10%;
	text-align: left;
}
.login_user ul input{
	font-size: 20px;
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	border: none;
	outline: none;
	padding: 0;
	width: auto;
}

.login_user .remeber{
	border: none;
}
.login{
	display: inline-block;
	height: 40px;
	width: 80%;
	margin: 5% 10%;
	background-color: #449ef2;
	font-size: 20px;
	color: #fff;
	border: none;
	border-radius: 4px;
}
footer{
	position: relative;
	margin: 60px 20px 0 0;
	text-align: right;
	font-size: 20px;
}
/*-----login start-----*/
/*-----main start-----*/
.main_search{
	position: absolute;
	opacity: 1;
	top: 28px;
	z-index: 10;
	width: 80%;
	left: 10%
}
.main_search span{
	position: absolute;
	margin: 5px 0 0 5px;
	
}
.main_info_img{
	width: 12px;
	height: 15px;
	float: left;
	margin: 4px 10px 0 0;
}
.main_info_li{
	float: left;
	width: 50%;
}
#control li div{
	font-size: 12px;
}
#control img{
	width: 35px;
	height: 35px;
	margin: 0;
}
.main_map{
	position: absolute;
	width: 100%;
	height: 100%;
}
.main_map_control{
	position: absolute;
	z-index: 3;
	zoom: 1;
	width: 40px;
	height: 90px;
	top: 5%;
	right: 2%;
}
.main_change{
	position: absolute;
	z-index: 3;
	zoom: 1;
	width: 40px;
	height: 90px;
	bottom: 25%;
	right: 2%;
}
.main_change li img,.main_map_control li img{
	width: 40px;
	height: 40px;
}
/*重写百度api样式*/
.BMap_pop{
	opacity: 0.8;
}
/*----------------------main end----------------------*/

/*----------------------cars start----------------------*/
.cars_search_main{
	
}
.cars_search_latest{
	height: 40px;
	text-align: center;
}
.cars_search_latest li{
	display: inline-block;
	float: left;
	width: 33%;
	line-height: 40px;
}
.cars_search_rs{
	display: none;
}
.cars_speed {
	display: inline-block;
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.mui-slider .mui-slider-group .mui-control-content .cars_img{
	width: 10px;
	height: 15px;
	float: left;
	margin: 30px 10px 25px 0;
}
.cars_detail_all{
	position: fixed;
	opacity: 0.8;
	bottom: 50px;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	padding: 0 10px;
}
.cars_detail_online{
	display: inline-block;
	float: right;
}
.cars_detail_user{
	
}
.cars_status_img{
	text-align: center;
}
.cars_status_img span{
	display: block;
}
.mui-slider .mui-slider-group .mui-slider-item img{
	width: 30px;
	margin-right: 12px;
}
/*----------------------cars end----------------------*/

/*----------------------mileage start----------------------*/
.mileage_begin,.mileage_end{
	display: inline-block;
	width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 32px;
	margin-top: 5px;
}
.mileage_begin>img,.mileage_end>img{
	width: 20px;
	height: 30px;
	float: left;
	margin-right: 10px;
}
.mileage_play{
	width: 35px;
	margin-bottom: -60px;
	margin-left: 20px;
}
.mileage_mi{
	text-align: center;border-right: solid 1px #000;
}
.mileage_time{
	text-align: center;
}
/*-----mileage end-----*/

/*-----track start-----*/
.track_carnum{
	
}
.track_header_a{
	margin: 10px;
	line-height: 0;
}
.track_header_a img{
	width: 25px;
}
.track_search{
	margin: 0;
	padding: 0;
	width: 50%;
}
.track_search_condition{
	font-size: 18px;
	font-size: 1.5rem;
}
.track_detail{
	position: fixed;
	opacity: 0.8;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
}
.track_detail_all{
	display: inline-block;
	float: left;
	width: 75%;
	margin-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.track_detail_all li{
	list-style: none;
}
.track_detail_mileage{
	display: inline-block;
	float: right;
	width: 20%;
}
.track_detail_mileage span{
	line-height: 60px;
}
.track_progress_div{
	/*display: inline-block;
	margin-top: 3%;
	margin-left: 3%;
	width: 70%;*/
}
.track_progress{
	height: 5px;
}
.track_table{
	width: 100%;
	height: 100%;
	border: none;
	line-height: 0;
	text-align: center;
}
.track_slow,.track_quick{
	height: 60%;
	margin: 0 20%;
	line-height: 0;
}
.track_operate{
	width: 100%;
	height: 25px;
	text-align: center;
}
.track_play,.track_end{
	height: 100%;
	margin-top: -5px;
}
/*-----track end-----*/